<!doctype html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="utf-8">
  <title>Angular Node MongoDB Kekule Molecule viewer</title>

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="libs/kekule/themes/default/kekule.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="libs/angular/angular.js"></script>
  <script src="libs/raphael-min.2.0.1.js"></script>
  <script src="libs/Three.js"></script>
  <script src="libs/kekule/kekule.js?modules=io,chemWidget"></script>
  <script src="js/controller.js"></script>

</head>

<body ng-controller="DataViewer">


<div class="grid-container">

<div class="item1"><h3>Angular Node MongoDB Kekule Molecule viewer</h3></div>


<div class="item2">
      Search: <input ng-model="molecule">
      <ul class="molecules">
        <li ng-repeat="molecule in molecules | filter:molecule ">
          <a class="show-m" ng-click="showContent(molecule.ID)">{{molecule.name}}</a>
        </li>
      </ul>


</div>




<div class="item3">
        <h3 align=center>Molecule: {{molname}} </h3>
        <div id="chemViewer1"></div>
        <!-- <div class="span10">
        <form name="myform" id="myform1" ng-submit="save()">
          <fieldset>
            <legend>New User</legend>
            <div class="control-group">
              <center><input type="text" placeholder="User…" ng-model="username" size=50 required /></center>
              <center><input type="text" placeholder="Password…" ng-model="password" size=50 required /></center>
              <center><input type="text" placeholder="Email…" ng-model="email" size=50 required /></center>
            </div>
          </fieldset>
          <p>
          <div>
            <center><button type="submit">Save now...</button></center>
          </div>
          </p>
        </form>
      </div> -->

</div>

<div class="item4"><h3> Source: <a href="https://github.com/zebn/NMDBA-Kekule">Github</a></h3></div>

</div>
</body>

</html>
